[Unit]
Description=OMERO.server
Requires=postgresql.service

[Service]
User=omero
Type=forking
Restart=on-failure
RestartSec=10
Environment="VENVDIR=/home/omero/omero-virtualenv" "BINDIR=/home/omero/OMERO.server/bin"
ExecStart=/usr/bin/bash -c "source $VENVDIR/bin/activate; $BINDIR/omero admin start"
ExecStop=/usr/bin/bash -c "source $VENVDIR/bin/activate; $BINDIR/omero admin stop"

[Install]
WantedBy=multi-user.target