# Python installation requirements for OMERO
# ==========================================
#
#     pip install -r requirements-py27.txt
#

## OMERO
omego
pytest==2.8.1
#Pillow<3.0

## OMERO.web
Django>=1.8,<1.9
